/*  nav related styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:  #FD6E0A;
}
.button-primary{
 color: white;
    width: 150px;
    font-size: 20px;
     font-weight: 700px;

border-radius: 5px;
border: 0px;
background: #FD6E0A;
padding: 15px 35px;

}
nav{
    display: flex;
     justify-content: space-between; 
    align-items: center;
}
.nav-title {
    color: #0a0a0a;

font-size: 45px;

font-weight: 800;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style-type: none;
    margin:51px;
}
nav a {
    text-decoration: none;
    color:  black;
}