/*  nav related styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;

    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #0a0a0a;

    font-size: 45px;

    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin: 51px;
}

nav a {
    text-decoration: none;
    color: black;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 20px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .pro-pic {
    width: 400px;

}

.banner-greeting {
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 50px;


}

.banner-content {
    max-width: 500px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #f6efea;
    margin: 50px;
}

.about-title {
    color: var(--dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.desc {

    line-height: normal;
    color: #757575;
    text-align: center;

}

main {
    max-width: 1140px;
    margin: 0px auto;
}


.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

#aa {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-desc {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
}
.download-cv{
    text-align: center;
}